:root {
    --primary-color: #8DA9C4;
    --secondary-color: #59546C;
    --accent-color1: #646536;
    --accent-color2: #F2E3BC;
    --accent-color3: #2a2344;

    --heading-font: 'Indie Flower', serif;
    --paragraph-font: 'Open Sans', sans-serif;
}

body {
    font-family: var(--paragraph-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}

header {
    display: grid;
    grid-template-columns: 200px auto;
    align-items: center;
    border-bottom: 1px solid var(--secondary-color);
    background-color: var(--primary-color);
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    display: flex;
    padding: 0.5rem;
    margin: -.14rem;
    color: var(--accent-color3);
    font-family: var(--heading-font);
    font-size: 2rem;

}

nav a:hover {
    background-color: var(--accent-color2);
    color: var(--accent-color1);
    font-weight: 800;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    padding: 1rem;
}

.hero h1 {
    position: absolute;
    top: 1em;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f2e3bc70;
    padding: 1rem;
    font-size: 3em;
    color: var(--accent-color3);
}

.hero article {
    background-color: #f2e3bc70;
    position: absolute;
    top: 15rem;
    left: 2rem;
    right: 2rem;
}

.hero article img {
    float: right;
    margin: 2rem;
    width: 13rem;
}

.hero article p {
    color: var(--accent-color3);
    font-size: 1.5rem;
    padding: 1rem;
    font-weight: 500;
}

.history {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 3em;
    margin: 75px;

}

.history p {
    color: var(--secondary-color);
    font-size: 1rem;
}

.history h2,
.adventure h2 {
    grid-column: 1/-1;
    justify-self: center;
    padding: 2em 0;
    color: var(--accent-color1);
}

.adventure {
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3.5rem;
    justify-items: center;
}

.adventure img {
    width: 200%;
    height: auto;
}

figure {
    color: var(--accent-color3);
    align-items: center;
}

figcaption {
    text-align: center;
    width: 200%;
}

footer {
    margin: 0 auto;
    background-color: var(--primary-color);
    color: var(--accent-color3);
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 2rem;
}

.sociallinks {
    grid-column: 3;
    justify-self: end;
}

.sociallinks img {
    width: 3em;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 10% 2fr 2fr;
}

fieldset {
    position: relative;
    display: grid;
    margin: 1rem;
}

form {
    width: 400px;
    margin: 1rem;
    padding: 10px;
    border: solid 3px var(--secondary-color);
    border-radius: 1rem;
    background-color: #F2E3BC;
    grid-row-start: 1;
}

.employees {
    display: grid;
    grid-column: 1/-1;
    grid-row-start: 3;
    grid-column-start: 1;
    justify-content: space-between;
    padding: 1rem;
}

.employees img {
    width: 220px;
    border: solid 2px var(--accent-color3);
    border-radius: 1rem;
}

.employees figcaption {
    width: 220px;
}

.wireframe a {
    color: var(--accent-color3);
    text-decoration: underline;
}

.company-info {
    display: block;
    margin: 0.5rem;
    grid-column: 6;
    grid-row: 1/2;
}

iframe {
    margin-top: 100px;
    border: solid 3px var(--accent-color1);
    border-radius: 1rem;
    grid-column: 6/11;
    grid-row-start: 2 ;
}
.contact {
    width: 500px;
    grid-column: 1 / 4;
    grid-row: 1 /3;
}

button {
    margin: 0 auto;
    border-radius: 0.5em;
}